.page-model {
	.page-model-title {
		color: #0d1a26;
		font-weight: 500;
		margin-bottom: 20px;
		margin-top: 8px;
		font-size: 30px;
		font-variant: tabular-nums;
		line-height: 38px;
	}
	.page-model-title-2 {
		color: #0d1a26;
		font-variant: tabular-nums;
		margin: 30px 0 15px;
		font-weight: 500;
		clear: both;
	}
}
