.page-model {
	.page-model-title {
		color: rgba(51, 51, 51, .9);
		font-weight: 500;
		margin-bottom: 20px;
		margin-top: 8px;
		font-size: 30px;
		font-variant: tabular-nums;
		line-height: 38px;
	}
	.page-model-title-2 {
		color: rgba(51, 51, 51, .9);
		font-variant: tabular-nums;
		margin: 50px 0 15px;
		font-weight: 500;
		clear: both;
	}
	.page-model-title-3 {
		font-size: 16px;
		line-height: 1.5;
		font-weight: 400;
		margin: 20px 0 10px;
		color: rgba(51, 51, 51, .9);
	}
	p {
		margin: 15px 0;
		font-size: 14px;
		line-height: 26px;
		color: #34495e;
	}
}
